body {
  background-color: #fff;
}
h1.site-title {
  font-size: 32px;
}

.layout-container {
  max-width: 1600px;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000;
}

a {
  font-size: 18px;
  color: rgb(0, 30, 150);
  font-weight: 600;
  text-decoration: underline;
  font-family: "Barlow-SemiBold", arial, helvetica, sans-serif;
  cursor: pointer;
  line-height: 25px;
  transition: 0.2s all ease-in-out;
}

a:hover {
  color: #fff;
  background-color: #001E96;
  text-decoration: none;
}